# Игнорировать виртуальные окружения
.venv/
venv/
ENV/

# Игнорировать логи
*.log

# Игнорировать данные в папках bronze, silver и gold
bronze/
silver/
gold/

# Игнорировать временные файлы Python
*.pyc
__pycache__/
.env

